body {
    display: flex;
    align-items: center;
    background-color: black;
    flex-direction: column;
    word-break: break-all;
    scroll-behavior: smooth;
  }
.nav{
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: static;

  height: 45px ;
  width: 332px ;
  padding: 30px 0 10px 0;
}
.konten1{
  align-items: center;
  display: flex;
  height: 83.5px;
  width: 345.2px;
  padding-left: 20px;
}
.grid1{
  justify-content: center;
  display: grid;
  grid-template-columns: 157.6px 157.6px;
  column-gap: 20px;
  row-gap: 20px;
}
.grid3{
  height: 236.4px;
  width: 157.6px;
}
.grid2{
  height: 157.6px;
  width: 157.6px;

}
p{
  color: white;
}
button{
  justify-content: center;
  color: blue;
}
.grid4{
  justify-content: center;
  display: grid;
  grid-template-columns: 187.6px 187.6px;
  row-gap: 20px;
}
.grid5{
  justify-content: center;
  height: 77.6px;
  width: 187.6px;
}
.grid6{
  justify-content: center;
  align-items: center;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
  height: 37.6px;
  width: 157.6px;
}
.grid7{
  justify-content: center;
  align-items: center;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
  height: 61.6px;
  width: 157.6px;
}
.konten2{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  height: 615px;
  width: 356px;
}
@media screen and (min-width: 640px){

  .grid1{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6,157.6px);
    column-gap: 20px;
    row-gap: 20px;
  }
}
  
