@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&family=Merriweather+Sans:wght@500;600&family=Outfit:wght@400;600;700;800&family=Poppins:wght@100&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #0c0317;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Cherry Swash", cursive;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
