@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #0c0e17;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(2.5vw, 20vw));
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.navbar-submenu {
  grid-column: 1 / -1;
  justify-self: start;
  width: 100%;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.dashboard-container {
  padding-left: 5vw;
  padding-right: 5vw;
}

.dashboard-jumbotron {
  position: absolute;
  left: 0;
}

.dashboard-jumbotron > img {
  width: 100vw;
  aspect-ratio: 10 / 3.5;
  object-fit: cover;
}

.dashboard-content {
  padding-top: 45vw;
}

.dashboard-content_title {
  display: grid;
  grid-template-columns: 30% 70%;
}

.dashboard-content_title_text {
  font-size: 4vw;
  font-weight: 600;
}

.dashboard-content_title_line {
  grid-column: 2 / 3;
  width: 100%;
  height: 6%;
  background-color: #394253;
  align-self: center;
}

.dashboard-content_cards {
  padding-top: 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 40vw));
  justify-content: space-between;
  row-gap: 10vw;
}

.dashboard-content_cards_card {
  width: 100%;
  aspect-ratio: 4 / 6;
  display: grid;
  grid-template-rows: 60% 10% 10% 10% 10%;
  align-items: center;
}

.dashboard-content_cards_card_image {
  width: 100%;
  height: 100%;
}

.dashboard-content_cards_card_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

.dashboard-content_cards_card_price {
  color: #6091b0;
  font-size: 2.5vw;
  font-weight: 600;
  align-self: end;
}

.dashboard-content_cards_card_location {
  color: #6091b0;
  font-size: 2.5vw;
  font-weight: 600;
}

.dashboard-content_cards_card_title {
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
  align-self: start;
}

.dashboard-content_cards_card_buttonDetail {
  color: white;
  font-size: 3vw;
  font-weight: bold;
  background-color: #24baef;
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1vw;
}

@media screen and (min-width: 768px) {
  div.navbar-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
  }

  div.nav-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  div.navbar-submenu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
